body {

	background-color: #FFF;
	font-family: "Lato", sans-serif;
	margin-top: 80px;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}


hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

@media (min-width: 1200px) {

  .container-main {
      width: 1000px;
  }
}

.container-main {
    max-width: 100%;
}

.centered {
	text-align: center;
}

.anchor{
   display: block;
   height: 71px;
   margin-top: -71px;
   visibility: hidden;
}

a {
	color: #FFF;
}

a:hover, a:focus {
	color: #0EBFDD;
	text-decoration: none;
	outline: 0;
}

.header_link {
	color: #92969E;
	margin-top: 10px;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #FFF;
	min-height: 71px;
}

.navbar-brand {
	font-weight: bold;
	font-size: 30px;
}

#headerwrap {
	background: url(../img/intro.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;

	-webkit-background-size: cover;
	-moz-webkit-background-size: cover;
	-o-webkit-background-size: cover;
	background-size: cover;
}

.main-head {
	display: inline-block;
	margin-top: 400px;
	color: white;
	font-size: 30px;
	font-weight: bold;
}

.main-text {
	color: white;
	font-size: 15px;
	letter-spacing: 2px;
	padding-top: 15px;
}

.fa-1 {
  vertical-align: middle;
	font-size: 10px;
}

.about-head {
	padding-top: 45px;
	color: #0EBFDD;
	font-size: 30px;
	font-weight: bolder;
}

.about-text {
	color: #6A6D71;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 45px;
}

#teamwork {
	background-color: #0EBFDD;
	color: #FFF;
	text-align: center;
	min-height: 600px;
	width: 100%;
}

.team-head {
	padding-top: 45px;
	padding-bottom: 45px;
	font-weight: bolder;
}

.team_name {
	padding-top: 7px;
	font-weight: bolder;
}

.team_pro {
	font-style: italic;
}


.team_work {
	padding-top: 170px;
	font-size: 20px;
	font-weight: bold;
}

#map {
  height: 500px;
  width: 100%;
}

.footer {
	min-height: 90px;
	background-color: #45494D;
	font-size: 10px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}

.footer_link {
	color: #FFF;
	float: left;
	padding-right: 30px;
	padding-top: 30px;
}


.soc_icon {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 2px solid #FFF;
  float: left;
  font-size: 15px;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
  margin: 10px 5px;
}

@media (max-width: 400px) {

	.footer_link {
		float: none;
	}
}

.underline {
	border-bottom: 1px solid #73767A;
}

.terms {
	float: right;
	color: #73767A;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 5px;
}

.terms:nth-child(2),
.terms:nth-child(3) {
	border-left: 1px solid #73767A;
}